* {
    padding: 0px;
    margin: 0px;
}

.timepicker {
    position: absolute;
    z-index: 1000;
    float: left;
    width: 220px;
    padding-bottom: 5px;
    margin: 2px 0 0 0;
    list-style: none;
    font-size: 20px;
    text-align: center;
    background-color: #2A4B7C;
    border: 1px solid #4dabf7;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}
html, body {
    color: #fff;
    background: #2A4B7C;
    position:relative;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 12px;
    overflow: hidden;
}

.divTable {
    display:  table;
    width:auto;
    border: #4dabf7 1px solid;
    border-spacing:5px;
    font-size:20px;
    padding: 10px;
}

.divRow {
    display:table-row;
    width:auto;
}

.divCell {
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:400px;
}

.divItem {
    padding-top: 5px;
}

.page {
    border: #4dabf7 1px solid;
    height:100%;
}

.page h1 img {
    float: right;
    margin: -7px 28px 0px 0px;
}

.container {
    display: inline-table;
    width:100%;
    margin: auto;
    vertical-align: middle;
    height:42%;
}
.container a {
    color: white;
}

.container .d {
    border-style: solid;
    border-color:#4dabf7;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

p.ctr {
    text-align:center;
    margin-top:10px;
}

.container .w {
    border-style: solid;
    border-color:#4dabf7;
    display: table-cell;
    vertical-align: top;
    text-align:center;
    width:16%;
    font-size:20px;
    padding: 10px;
}


.container .h {
    border-style: solid;
    border-color:#4dabf7;
    display: inline-table;
    vertical-align: top;
    text-align:center;
    width:150px;
    font-size:20px;
    padding: 13px;
    margin: 8px;
    border-radius: 15px;
    clear: none;
}

.container .h .left {
    float: left;
    width: 75%;
    height:100%;
}

.container .h .right {
    float: right;
    width: 15%;
    height:100%;

}
.container .bUp {
    width: 36px;
    margin-top:13px;
    padding: 7 18 10 10px;
}
.container .bDown {
    margin-top:23px;
    width: 36px;
    padding: 7 18 10 12px;
}

.container .h .in {
    width:80%;
}

.container .hs {
    margin-top: 15px;
}

.container .l1 {
    border-width: 0px 1px 1px 0px;
}
.container .r1 {
    border-width: 0px 0px 1px 0px;
}
.container .l2 {
    border-width: 0px 1px 0px 0px;
}
.container .r2 {
    border-width: 0px 0px 0px 0px;
}

.container .lightBtnOn {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 7 18 10 10px;
    background: #4dabf7
}

.container .lightBtnOff {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 7 18 10 10px;
    background: #2A4B7C;
}

body p {
    line-height: 1.32;
}

input[type=button], input[type=text] {
    border: 2px solid #4dabf7;
    background-color: #2A4B7C;
    border-radius: 3px;
    border-color: ;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    font-size:20px;
}

h1 {
    font-size: 24px;
    background:#4dabf7;
    text-align:center;
    width:100%;
    padding:15px;
    text-transform:uppercase;
}

h2 {
    background:#4dabf7;
    text-align:center;
    width:100%;
    padding:12px;
    text-transform:uppercase;
    position: absolute;
    bottom: 0;
}

h3 {
    text-align:center;
    padding-top:13px;
    text-transform:uppercase;
    font-size: 30px;
}

#time {
    color: #fff;
    font-size: 20px;
    margin: -33px 11px 10px 0px;
    position: relative;
    text-align: right;
}

.setting {
    background:#4dabf7;
    text-align:center;
    width:100%;
    padding:12px;
    text-transform:uppercase;
    position: absolute;
    font-size:20px;
    bottom: 0;
}
