{% include "_head.html" %}
<h1>Alarm
  <a href="/"><img src="/static/home.svg" width="35" /></a>
</h1>
      <div class="container">
         <div class="w l1">
            Loznice
         </div>
         <div class="w l1">
            Koupelna
         </div>
         <div class="w l1">
            Kuchyn
         </div>
         <div class="w l1">
            Obyvak stred
         </div>
         <div class="w l1">
            Obyvak zadni 1
         </div>
         <div class="w r1">
            Obyvak zadni 2
         </div>
         <div class="w l2">
            Pokoj Kacka mala
         </div>
         <div class="w l2">
            Pokoj Kacka velka
         </div>
         <div class="w l2">
            Pokoj Petr mala
         </div>
         <div class="w l2">
            Pokoj Petr velka
         </div>
         <div class="w r2">
            Balkon
         </div>
      </div>
{% include "_foot.html" %}
