{% include "_head.html" %}
<h1>Camera
  <a href="/"><img src="/static/home.svg" width="35" /></a>
</h1>
        <div class="container">
          <div class="d l1">
              <iframe src="https://" width="90%" height="90%"></iframe>
          </div>
          <div class="d r1">
              <iframe src="https://" width="90%" height="90%"></iframe>
          </div>
        </div>
        <div class="container">
            <div class="d l2">
              <iframe src="https://" width="90%" height="90%"></iframe>
            </div>
            <div class="d r2">
              <iframe src="https://" width="90%" height="90%"></iframe>
            </div>
        </div>
{% include "_foot.html" %}
