{% include "_head.html" %}
<h1>Heating
  <a href="/"><img src="/static/home.svg" width="35" /></a>
</h1>

<div class="container">

    <div class="title">
        <p>Room name: {{data["roomName"]}}</p>
        <p>Actual temperature: {{data["temperature"]}} C</p>
        <p>Requested temerature: ({{data["temperature"]}} C)</p>
        <p>Humidity: 45%</p>
        <div id="heatTime">
        </div>
        <div class="container">
            <input type="time" id="heatTime0" name="" value="" />
            <input type="button" name="" onclick="javascript:addHeatingValue();" value="Add" />
        </div>
    </div>

</div>



{% include "_foot.html" %}
