{% include "_head.html" %}
<h1>Heating
  <a href="/"><img src="/static/home.svg" width="35" /></a>
</h1>

<div class="container">

    <div class="title">
        <p>Room name: {{data["roomName"]}}</p>
        <p>Actual temperature: 23.5 C</p>
        <p>Requested temerature: ({{data["temperature"]}} C)</p>
        <p>Humidity: 45%</p>
    </div>

    <div class="container">
         <div class="h hs" onclick="javascript:client.heating('{{data["id"]}}', 'add')">
           Add
         </div>
      </div>
</div>



{% include "_foot.html" %}
