{% include "_head.html" %}
<h1>Heating
  <a href="/"><img src="/static/home.svg" width="35" /></a>
</h1>

    <div class="container">
      {% for id, name in data["rooms"].items() %}
      <a href="heating_setting.html?id={{id}}">
         <div class="h">
           {{name}}
           <h3>{{data["temperature"]}} C</h3>
           <h4 id="heating_temp">({{data["temperature"]}} C)</h4>
           <h3>45%</h3>
         </div>
      </a>
      {% end %}

      <div class="container">
         <div class="h hs">
           Kotel
           <img src="/static/flame.svg" width="60">
         </div>
         <div class="h hs">
            Manual
         </div>
         <div class="h hs">
           Automat
         </div>
      </div>


{% include "_foot.html" %}
