{% include "_head.html" %}
<h1>Heating chart
  <a href="/"><img src="/static/home.svg" width="35" /></a>
</h1>
<div class="container">
    <iframe src="http://192.168.0.222/grafana/d-solo/Mby8wWvVz/heating?from=now-24h&to=now&panelId=2&orgId=1" width="1020" height="420" frameborder="0"></iframe>
</div>

<div class="container">
    <div class="h hs">
        <a href="/heating_chart.html">Temperature</a>
    </div>
    <div class="h hs">
        <a href="/humidity_chart.html">Humidity</a>
    </div>
    <div class="h hs">
        <a href="/pressure_chart.html">Pressure</a>
    </div>
</div>

</script>
{% include "_foot.html" %}
