{% include "_head.html" %}
<h1>Heating
  <a href="/"><img src="/static/home.svg" width="35" /></a>
</h1>

<div class="container">

  <div class="divTable" style="overflow:scroll;">
    <div class="divRow">
      <div class="divCell">Start</div>
      <div class="divCell">End</div>
      <div class="divCell">Length</div>
    </div>
{% for item in data["items"]  %}

    <div class="divRow">
      <div class="divCell">
        {{ item["start"] }}
      </div>
      <div class="divCell">
        {{ item["end"] }}
      </div>
      <div class="divCell">
        {{ item["len"] }}
      </div>
    </div>
{% end %}
  </div>
  <div class="h hs"><a href="/heating.html">Back</a></div>
</div>


{% include "_foot.html" %}
