{% include "_head.html" %}
<h1>Heating
  <a href="/"><img src="/static/home.svg" width="35" /></a>
</h1>

<div class="container">
  <div class="tbl">
    <table>
      <thead>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Length [{{ data["suma"] }}]</th>
        </tr>
      </thead>
      <tbody>
{% for item in data["items"]  %}
        <tr>
          <td>
            {{ item["start"] }}
          </td>
          <td>
            {{ item["end"] }}
          </td>
          <td>
            {{ item["len"] }}
          </td>
        </tr>
{% end %}
      </tbody>
    </table>
  </div>
  <div class="h hs"><a href="/heating.html">Back</a></div>
</div>


{% include "_foot.html" %}
