{% include "_head.html" %}
<h1>Heating
  <a href="/"><img src="/static/home.svg" width="35" /></a>
</h1>

    <div class="container">
      {% for item in data["rooms"]  %}
        <div class="h">
          <a href="heating_setting.html?id={{item["id"]}}">
              <div class="left">
                {{item["name"]}}
                <h3 id="actual_temp_{{item["id"]}}">{{item["actualTemperature"]}} C</h3>
                <h4 id="heating_{{item["id"]}}">({{item["temperature"]}} C)</h4>
                <h3 id="actual_humidity_{{item["id"]}}">{{item["humidity"]}} %</h3>
            </div>
          </a>
          <div style="right">
            <input type="button" value="+" class="bUp" onclick="javascript:client.heating('{{item["id"]}}', 'up')">
            <input type="button" value="-" class="bDown" onclick="javascript:client.heating('{{item["id"]}}', 'down')">
            </div>
         </div>
      {% end %}

      <div class="container">
         <div class="h hs">
           Kotel
           <img id="hFlame" src="/static/flame_0.svg" width="40">
         </div>
         <div class="h hs">
            Manual
         </div>
         <div class="h hs">
           Automat
         </div>
      </div>


      <script>
        window.onload = function() {
            setInterval(client.heatingSensorRefresh, 1000, {%raw data["ids"] %});
        }
      </script>

{% include "_foot.html" %}
