{% include "_head.html" %}
<h1>Smart home
  <a href="/"><img src="/static/home.svg" width="35" /></a>
</h1>
        <div class="container">
            <div class="d l1">
                <a href="windows.html">
                    <img src="/static/blinds.svg" width="200"></a>
            </div>
            <div class="d l1">
                <a href="light.html">
                    <img src="/static/light.svg" width="200"></a>
            </div>
            <div class="d r1">
                <a href="heating.html">
                    <img src="/static/heating.svg" width="200"></a>
            </div>
        </div>
        <div class="container">
            <div class="d l2">
                <a href="camera.html">
                    <img src="/static/camera.svg" width="200"></a>

            </div>
            <div class="d l2">
                <a href="alarm.html">
                    <img src="/static/alarm.svg" width="200"></a>
            </div>
            <div class="d r2">
                <a href="invertor.html">
                    <img src="/static/solar.svg" width="200"></a>
            </div>
        </div>
{% include "_foot.html" %}
