{% include "_head.html" %}
<div class="topline">
    <div class="title">Solar flow</div>
    <div class="home">
        <a href="/"><img src="/static/home.svg" width="55" /></a>
    </div>
</div>


<div class="container">

    <div class="values">
        <div id="name">
        </div>
        <div id="value">
        </div>
    </div>
    <canvas id="display" width="1020" height="420"></canvas>
    <script type="text/javascript">
        window.displ = new InvertorDisplay(); 
        client.connect("");
        setInterval(window.displ.timer, 500);
    </script> 
</div>

{% include "_menu.html" %}

{% include "_foot.html" %}
