{% include "_head.html" %}
<h1>Solar chart
  <a href="/"><img src="/static/home.svg" width="35" /></a>
</h1>
<div class="container">

    <iframe src="http://192.168.0.222/grafana/d-solo/Xl3AJTH4z/invertor-data?orgId=1&refresh=1m&from=1667926908475&to=1668013308475&panelId=28" width="335" height="250" frameborder="0"></iframe>

    <iframe src="http://192.168.0.222/grafana/d-solo/Xl3AJTH4z/invertor-data?orgId=1&refresh=1m&from=1667927564050&to=1668013964050&panelId=26" width="335" height="250" frameborder="0"></iframe>

    <iframe src="http://192.168.0.222/grafana/d-solo/Xl3AJTH4z/invertor-data?orgId=1&refresh=1m&from=1667931715718&to=1668018115718&panelId=16" width="335" height="250" frameborder="0"></iframe>
    
    <iframe src="http://192.168.0.222/grafana/d-solo/Xl3AJTH4z/invertor-data?orgId=1&refresh=1m&from=1667927819230&to=1668014219230&panelId=27" width="335" height="250" frameborder="0"></iframe>

    <iframe src="http://192.168.0.222/grafana/d-solo/Xl3AJTH4z/invertor-data?orgId=1&refresh=1m&from=1667927988810&to=1668014388810&panelId=24" width="335" height="250" frameborder="0"></iframe>

</div>
</script>
{% include "_foot.html" %}
