{% include "_head.html" %}
<h1>Blinds
  <a href="/"><img src="/static/home.svg" width="35" /></a>
</h1>
      <div class="container">
         <div class="w l1">
            Loznice
            <input type="button" value="UP" id="w1" />
            <input type="button" value="DOWN" id="w1" />
            <input type="button" value="CLOSE" id="w1" />
            <input type="button" value="OPEN" id="w1" />
         </div>
         <div class="w l1">
            Koupelna
            <input type="button" value="UP" id="w1" />
            <input type="button" value="DOWN" id="w1" />
            <input type="button" value="CLOSE" id="w1" />
            <input type="button" value="OPEN" id="w1" />
         </div>
         <div class="w l1">
            Kuchyn
            <input type="button" value="UP" id="w1" />
            <input type="button" value="DOWN" id="w1" />
            <input type="button" value="CLOSE" id="w1" />
            <input type="button" value="OPEN" id="w1" />
         </div>
         <div class="w l1">
            Obyvak stred
            <input type="button" value="UP" id="w1" />
            <input type="button" value="DOWN" id="w1" />
            <input type="button" value="CLOSE" id="w1" />
            <input type="button" value="OPEN" id="w1" />
         </div>
         <div class="w l1">
            Obyvak zadni 1
            <input type="button" value="UP" id="w1" />
            <input type="button" value="DOWN" id="w1" />
            <input type="button" value="CLOSE" id="w1" />
            <input type="button" value="OPEN" id="w1" />
         </div>
         <div class="w r1">
            Obyvak zadni 2
            <input type="button" value="UP" id="w1" />
            <input type="button" value="DOWN" id="w1" />
            <input type="button" value="CLOSE" id="w1" />
            <input type="button" value="OPEN" id="w1" />
         </div>
      </div>
      <div class="container">
         <div class="w l2">
            Pokoj Kacka mala
            <input type="button" value="UP" id="w1" />
            <input type="button" value="DOWN" id="w1" />
            <input type="button" value="CLOSE" id="w1" />
            <input type="button" value="OPEN" id="w1" />
         </div>
         <div class="w l2">
            Pokoj Kacka velka
            <input type="button" value="UP" id="w1" />
            <input type="button" value="DOWN" id="w1" />
            <input type="button" value="CLOSE" id="w1" />
            <input type="button" value="OPEN" id="w1" />
         </div>
         <div class="w l2">
            Pokoj Petr mala
            <input type="button" value="UP" id="w1" />
            <input type="button" value="DOWN" id="w1" />
            <input type="button" value="CLOSE" id="w1" />
            <input type="button" value="OPEN" id="w1" />
         </div>
         <div class="w l2">
            Pokoj Petr velka
            <input type="button" value="UP" id="w1" />
            <input type="button" value="DOWN" id="w1" />
            <input type="button" value="CLOSE" id="w1" />
            <input type="button" value="OPEN" id="w1" />
         </div>
         <div class="w r2">
            Balkon
            <input type="button" value="UP" id="w1" />
            <input type="button" value="DOWN" id="w1" />
            <input type="button" value="CLOSE" id="w1" />
            <input type="button" value="OPEN" id="w1" />
         </div>
      </div>
{% include "_foot.html" %}
