{% include "_head.html" %}
<h1>Blinds
  <a href="/"><img src="/static/home.svg" width="35" /></a>
</h1>
      <div class="container">
{% for item in data["rooms"]  %}
         <div class="w l1">
            <p>{{item["name"]}}</p>
            <input type="button" value="UP" onclick="javascript:client.blinds('{{item["id"]}}', 'up')" id="up_{{item['id']}}" />
            <input type="button" value="DOWN" onclick="javascript:client.blinds('{{item["id"]}}', 'down')"  id="down_{{item['id']}}" />
            <input type="button" value="CLOSE" onclick="javascript:client.blinds('{{item["id"]}}', 'close')" id="close_{{item['id']}}" />
            <input type="button" value="OPEN" onclick="javascript:client.blinds('{{item["id"]}}', 'open')" id="open_{{item['id']}}" />
         </div>
{% end %}
      </div>
{% include "_foot.html" %}
