[Unit]
Description=Heat pump monitor
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/smart.home/heatpump
ExecStart=python3 /home/pi/smart.home/heatpump/hp_monitor.py
User=root
PIDFile=/tmp/hp.pid

[Install]
WantedBy=multi-user.target

