{% include "_head.html" %}
<div class="topline">
    <div class="title">Camera</div>
    <div class="home">
        <a href="/"><img src="/static/img/home.svg" width="55" /></a>
    </div>
</div>

<div class="container">
{% set has_camera = False %}
{% for url in data["cameras"] %}
    {% if url %}
    {% set has_camera = True %}
    <div class="hpContainer">
        <div class="d l1">
            <iframe src="{{url}}" width="90%" height="90%" frameborder="0"></iframe>
        </div>
    </div>
    {% end %}
{% end %}
{% if not has_camera %}
    <p class="ctr" style="font-size:18px; padding-top:40px;">
        No cameras configured.<br/>
        Add camera URLs in conf/config.ini [Camera] section.
    </p>
{% end %}
</div>

{% include "_foot.html" %}
