{% include "_head.html" %}
<h1>Invertor Settings
  <a href="/"><img src="/static/img/home.svg" width="35" /></a>
</h1>

<div class="container">

  <div class="divTable">

    <div class="divRow">
      <div class="divCell">
          <p>Solar charging current: <input type="text" id="solarChargingCurrent" value="" size="2" />A</p>
      </div>
    </div>

    <div class="divRow">
      <div class="divCell">
          <p>Mains charging current: <input type="text" id="mainsChargingCurrent" value="" size="2" />A</p>
      </div>
    </div>

    <div class="divRow">
      <div class="divCell">
          <input type="button" value="Save" class="btn" onclick="javascript:saveSettings()" />
      </div>
    </div>

  </div>

  <div class="h hs"><a href="/invertor.html">Back</a></div>
</div>

<script>
    function saveSettings() {
        var solar = document.getElementById("solarChargingCurrent").value;
        var mains = document.getElementById("mainsChargingCurrent").value;
        alert("Settings saved: Solar=" + solar + "A, Mains=" + mains + "A");
    }
</script>

{% include "_foot.html" %}
