{% include "_head.html" %}
<div class="topline">
    <div class="title">Temperature</div>
    <div class="home">
        <a href="/"><img src="/static/img/home.svg" width="55" /></a>
    </div>
</div>

<div class="container" style="overflow:auto;">
  <div id="gauge_obyvak" class="gauge-container"></div>
  <div id="gauge_petr" class="gauge-container"></div>
  <div id="gauge_koupelna" class="gauge-container"></div>
  <div id="gauge_kluci" class="gauge-container"></div>
  <div id="gauge_garaz" class="gauge-container"></div>
  <div id="gauge_loznice" class="gauge-container"></div>
  <div id="gauge_vchod" class="gauge-container"></div>
</div>

<script>
    var mqttConfig = {
        host: "{{ data['mqtt']['host'] }}",
        port: {{ data['mqtt']['port'] }},
        path: "{{ data['mqtt']['path'] }}",
        useSSL: {{ "true" if data['mqtt']['useSSL'] else "false" }}
    };
    var rooms = [
        {id: "gauge_obyvak",   topic: "home/temp/obyvak/",   title: "Obyvak",   min: 14, max: 30},
        {id: "gauge_petr",     topic: "home/temp/petr/",     title: "Petr",     min: 14, max: 30},
        {id: "gauge_koupelna", topic: "home/temp/koupelna/", title: "Koupelna", min: 14, max: 30},
        {id: "gauge_kluci",    topic: "home/temp/kluci/",    title: "Kluci",    min: 14, max: 30},
        {id: "gauge_garaz",    topic: "home/temp/garaz/",    title: "Garáž",    min: 14, max: 30},
        {id: "gauge_loznice",  topic: "home/temp/loznice/",  title: "Ložnice",  min: 15, max: 30},
        {id: "gauge_vchod",    topic: "home/temp/vchod/",    title: "Vchod",    min: 15, max: 30}
    ];
    initTemperatureMQTT(mqttConfig, rooms);
</script>

{% include "_foot.html" %}
