[Unit]
Description=MQTT feader
After=multi-user.target

[Service]
ExecStart=python3 /home/pi/smart.home/invertor/mqtt.feeder.py
User=root
PIDFile=/tmp/mqtt.feeder.pid

[Install]
WantedBy=multi-user.target

