[Unit]
Description=MQTT Tuya checker
After=multi-user.target

[Service]
WorkingDirectory=/root/smart.home/tuya
ExecStart=python3 /root/smart.home/invertor/tuya.py
User=root
PIDFile=/tmp/tuya.pid

[Install]
WantedBy=multi-user.target

