[Unit]
Description=MQTT Tuya checker
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/smart.home/invertor
ExecStart=python3 /homoe/pi/smart.home/invertor/tuya.py
User=root
PIDFile=/tmp/tuya.pid

[Install]
WantedBy=multi-user.target

